<!DOCTYPE html>
<html lang="es">
 <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title> Calendario Personal </title>
  <link rel="icon" href="img/logo.ico" type="image/x-icon">
 </head>
<script>var Fecha =[]
<% for(var i = 0; i < Fechas.length; i++){
    %>Fecha[<%=i%>] = " <%=Fechas[i]%> "

<%}%>
var Asunto =[]
<% for(var i = 0; i < Asuntos.length; i++){
    %>Asunto[<%=i%>] = " <%=Asuntos[i]%> "

<%}%></script>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper">

        <a id="logo-header" tabindex="1" alt="Home" href="/">
          <span class="site-name" >E-RARIO</span>
        </a>
        <!-- / #logo-header -->
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons" lang="es">menu</i></a>

        <ul class="right hide-on-med-and-down">

          <ul class="right hide-on-med-and-down">
            <li><a href="https://uyaull-e0414.firebaseapp.com/" tabindex="2" onclick="return false" lang="es">Chat</a></li>
            <li><a href="/Contacto" tabindex="3" lang="es">Contacto</a></li>
            <li><a class="cerrar" href="/LogOut" tabindex="4" lang="es">Log Out</a></li>
          </ul>

        </ul>

        <ul class="side-nav" id="mobile-demo">

          <li><a href="https://uyaull-e0414.firebaseapp.com/" onclick="return false" tabindex="-1" lang="es">Chat</a></li>
          <li><a href="/Contacto" tabindex="-1" lang="es">Contacto</a></li>
          <li><a class="cerrar" href="/LogOut" tabindex="-1" lang="es">Log Out</a></li>
        <!-- Dropdown Trigger -->
        </ul>

        </div>
      </nav>
    </header>


    <div class="container">
      <div class="mainh row">
        <div class="col s12">
          <div class="row">
            <div class="col s2 offset-s10">
              <a tabindex="5" class="waves-effect waves-light btn modal-trigger cerrar" href="#modal1" lang="es">Crear</a>
            </div>
          </div>
        <div id="Lunes" class="row">
          <div  class="col l1 day center-align">
            <div class= "DiaSemana" lang="es">
              Lunes
            </div>
            <div class= "DiaMes">
            </div>
          </div>

          <div class="Evento col s10">

          </div>



        </div>
        <div id = "Martes" class="row">
          <div class="col l1 day center-align">
            <div class= "DiaSemana" lang="es">
              Martes
            </div>
            <div class= "DiaMes">

            </div>
          </div>
          <div class="Evento col s10">

          </div>


        </div>



        <div id = "Miercoles" class="row">
          <div class="col l1 day center-align">
            <div class= "DiaSemana" lang="es">
              Miércoles
            </div>
            <div class= "DiaMes">

            </div>
          </div>
          <div class="Evento col s10">

          </div>
        </div>

        <div id = "Jueves" class="row">
          <div class="col l1 day center-align">
            <div class= "DiaSemana" lang="es">
            Jueves
            </div>
            <div class= "DiaMes">

            </div>
          </div>
          <div class="Evento col s10">

          </div>

        </div>
        <div id = "Viernes" class="row">
          <div class="col l1 day center-align">
            <div class= "DiaSemana" lang="es">
              Viernes
            </div>
            <div class= "DiaMes">

            </div>
          </div>
          <div class="Evento col s10">

          </div>

        </div>
        <div id = "Sabado" class="row">
          <div class="col l1 day center-align">
            <div class= "DiaSemana" lang="es">
              Sabado
            </div>
            <div class= "DiaMes">

            </div>
          </div>
          <div class="Evento col s10">

          </div>

        </div>

        <div id = "Domingo" class="row">
          <div class="col l1 day center-align">
            <div class= "DiaSemana" lang="es">
              Domingo
            </div>
            <div class= "DiaMes">

            </div>
          </div>
          <div class="Evento col s10">

          </div>
        </div>

      </div>
    </div>
    </div>

    <div id="modal1" class="modal">

      <div class="form-box">
        <div class="row">
          <h1 class="modalFormtitle" lang="es">Crear Evento</h1>
        </div>
        <form class="form" action="/createEvent" method="post">

          <div class="row">
            <div class="input-field col s6">

                <input tabindex="6" id="reg_asunto" class="form-font" name="form_asunto" type="text" class="validate">
                <label for="reg_asunto" lang="es">Asunto: </label>
            </div>
            <div class="input-field col s6">
                <input tabindex="7" placeholder="11/08/2019" id="reg_day" class="form-font" name="form_day" type="text" onfocus="(this.type='datetime-local')" class="validate">
                <label for="reg_day" lang="es">Fecha: </label>
            </div>
          </div>

          <div class="row">
            <div class="col s12">
              <span id="reg_error" class="output"> </span>
          </div>
        </div>
          <div class="row">
            <div class="col s8 offset-s4">
              <button tabindex="8" id="btn_reg_event" class="modal-close form-button rigth" type="submit">Crear</button>
            </div>
          </div>
        </form>
    </div>
  </div>




    <footer class="page-footer">
      <h1 align="center">E-RARIO</h1>
      <div class="container">
        <div class="row">
            <h5 align="center"><a tabindex="9" class="white-text" href="/Contacto" lang="es">Contáctanos:</a></h5>
            <ul class="social center-align">
             <li><a tabindex="10" class="grey-text text-lighten-3" href="https://www.instagram.com/e-rario/" class="insta" title="Instagram" data-aos="fade-up" data-aos-delay="20"><i class="fa fa-instagram"></i></a></li>
             <li><a tabindex="11" class="grey-text text-lighten-3" href="https://www.facebook.com/e-rario/" class="face" title="Facebook" data-aos="fade-up" data-aos-delay="40"><i class="fa fa-facebook"></i></a></li>
             <li><a tabindex="12" class="grey-text text-lighten-3" href="https://twitter.com/e-rario" class="twit" title="Twitter" data-aos="fade-up" data-aos-delay="60"><i class="fa fa-twitter"></i></a></li>
             <li><a tabindex="13" class="grey-text text-lighten-3" href="#" class="google" title="Google +" data-aos="fade-up" data-aos-delay="80"><i class="fa fa-google-plus"></i></a></li>
             <li><a tabindex="14" class="grey-text text-lighten-3" href="#" class="linkedin" title="Linkedin" data-aos="fade-up" data-aos-delay="100"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2018 Copyright Text
        </div>
      </div>
    </footer>
  <script src ="js/index.js"></script>
    <script src ="js/content.js"></script>
  </body>

</html>
